<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Starter Template · Bootstrap</title>

    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- stylesheet -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- javascript -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm fixed-top">
        <div class="container py-1">
            <%= link_to("Diaries", root_path, {class: "navbar-brand"}) %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <% if @current_user %>
                    <li class="nav-item">
                        <%= link_to("一覧", "/diary/index", {class: "nav-link"}) %>
                    </li>
                    <li class="nav-item">
                        <%= link_to("新規登録", "/diary/new", {class: "nav-link"}) %>
                    </li>
                    <% else %>
                    <li class="nav-item">
                        <%= link_to("About", "/about", {class: "nav-link"}) %>
                    </li>
                    <% end %>
                </ul>
                <ul class="navbar-nav">
                    <% if @current_user %>
                    <li class="nav-item">
                        <%= link_to("ログアウト", "/logout", {class: "nav-link", method: "delete"}) %>
                    </li>
                    <% else %>
                    <li class="nav-item">
                        <%= link_to("ログイン", "/login", {class: "nav-link"}) %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>

    <main role="main">
        <%= yield %>
    </main>
</html>
